{% extends "index.html" %}
{% load static %}

{% block content %}
<p class="text-center text-white mb-4 fs-5">Please find your AI generated feedback below ✨</p>
<div class="container p-0">
    <!-- Box with desired styling -->
    <div class="box p-4">
        <!-- Title Card -->
        <h2 class="card-title text-center text-white fw-bold mb-4">{{ essay.title }}</h2>
        
        <!-- New Card for Essay Body -->
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title text-center">Essay Content</h4>
                <p class="card-text">{{ essay.body }}</p>
            </div>
        </div>

        <div class="card-body">
            <div class="alert alert-info mb-4">
                Spelling Errors Count: <strong>{{ essay.feedback.spelling_errors_count }}</strong>
            </div>

            {% if spelling_error %}
            <div class="mb-4 text-white">
                <h4>Spelling Errors:</h4>
                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-hover table-rounded">
                        <thead>
                            <tr class="custom-table-heading">
                                <th>Word</th>
                                <th>Start Index</th>
                                <th>End Index</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for error in spelling_error %}
                            <tr>
                                <td>{{ error.word }}</td>
                                <td>{{ error.start }}</td>
                                <td>{{ error.end }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p> You have no spelling error 🎉</p>
            {% endif %}

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Relevance to Title</h4>
                            <p class="card-text">
                                {% if essay.feedback.content_relevance %}
                                <span class="display-4 text-success"> Yes 👍 </span>
                                {% else %}
                                <span class="display-4 text-danger"> No 👎 </span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Essay Score</h4>
                            <p class="card-text">
                                {% if essay.feedback.score > 5 %}
                                <span class="display-4 text-success">{{ essay.feedback.score }}</span>
                                {% else %}
                                <span class="display-4 text-danger">{{ essay.feedback.score }}</span>
                                {% endif %}
                                <span class="text-muted">/ 10</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background: linear-gradient(135deg, #00cea8 0%, #bf61ff 100%);
        min-height: 100vh;
    }

    .custom-table-heading{
        background: linear-gradient(135deg, #00cea8 0%, #bf61ff 100%);
        color: azure;
    }

    .box {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px; /* Rounded corners for the box */
    }

    .card {
    background-color: rgba(255, 255, 255, 0.9); /* White with 80% opacity */
    }

    .card-title.text-white {
        text-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .table-responsive {
        max-height: 300px;
        overflow-y: auto;
    }
    
    .container {
        padding: 0; /* Remove padding from the container */
    }

    .table-rounded {
        border-radius: 10px;
        overflow: hidden;
    }
</style>
{% endblock %}
